/* Reset margin and padding for body and html */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Remove margin and padding from all sections */
section {
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #ffffff; /* Light pink background */
    padding: 1em 0;
    color: #a23c5e; /* White color */
    text-align: center;
    margin: 0; /* Remove margin */
    height: 70px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #a23c5e; /* White color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #e692ae; /* Dark pink on hover */
}

/* Introduction section styling */
#introduction-section {
    text-align: center;
    margin-top: 0; /* Remove margin */
}

#introduction {
    background-color: #97a1b4; /* Terminal background */
    color: #f4f7f4; /* Terminal text color */
    padding: 1.5em;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 85%; /* Slightly bigger than project cards */
    max-width: 650px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the terminal */
    border-radius: 10px;
}

.terminal-header {
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
    background-color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.terminal-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.terminal-circle.red {
    background-color: #ff5f56;
}

.terminal-circle.yellow {
    background-color: #ffbd2e;
}

.terminal-circle.green {
    background-color: #27c93f;
}

.terminal-content {
    padding: 1em;
    font-size: 19px;
}

#introduction h2 {
    font-size: 2em;
    color: #e692ae; /* Light pink color for headings */
    margin-bottom: 1em;
}

#introduction p {
    font-size: 1.2em;
    color: #f1f6f1; /* Terminal text color */
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.terminal {
    background-color: #000;
    color: #00ff00;
    padding: 1.5em;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 85%;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 10px;
    height: 400px; /* Fixed height */
    overflow: hidden; /* Hide overflow */
    position: relative;
}

.terminal a {
    color: #f1f6f1; /* White color for links */
    text-decoration: none; /* Remove underline */
}

.terminal-prompt {
    color: #00ff00;
}


.terminal-content {
    padding: 1em;
    height: calc(100% - 3.5em); /* Adjust height to fit within terminal */
    overflow-y: auto; /* Scroll if content overflows */
}


.typewriter-line:nth-child(2n) {
    margin-bottom: 1em; /* Space between every second line */
}

/* Projects section title styling */
#projects h2 {
    font-size: 2.5em;
    color: #e692ae; /* Light pink color for headings */
    text-align: center;
    margin-bottom: 1em;
}

#projects {
    background-color: #fffafa; /* Light pink background */
    padding: 3em;
    text-align: center; /* Center the content */
    margin-top: 4em; /* Add white space between header and projects section */
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center; /* Center the project cards */
}

.project-card {
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the project card */
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 1.5em;
}

.project-info h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #e692ae; /* Light pink color for headings */
}

.project-info p {
    font-size: 1em;
    color: #555;
    margin-bottom: 1em;
}

.tech-tags {
    margin-bottom: 1em;
}

.tech-tags span {
    background-color: #fff0f0; /* Light pink background */
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    font-size: 0.9em;
}

.project-link {
    text-decoration: none;
    color: #e692ae; /* Light pink color for links */
    font-weight: bold;
    transition: color 0.3s;
}

.project-link:hover {
    color: #a23c5e; /* Dark pink on hover */
}

/* General h2 styling */
h2 {
    font-size: 2em;
    color: #e692ae; /* Light pink color for headings */
    margin-bottom: 1em;
    text-align: center;
}

/* Resume section styling */
#resume {
    background-color: #ffffff; /* White background */
    padding: 3em;
    text-align: center;
}

#resume h2 {
    font-size: 2em;
    color: #e692ae; /* Light pink color for headings */
    margin-bottom: 1em;
}

#resume p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

#resume a {
    color: #e692ae; /* Light pink color for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#resume a:hover {
    color: #a23c5e; /* Dark pink on hover */
}

/* Contact section styling */
#contact {
    background-color: #fffafa; /* Light pink background */
    padding: 3em;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    color: #e692ae; /* Light pink color for headings */
    margin-bottom: 1em;
}

#contact p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact ul li {
    margin-bottom: 1em;
}

#contact ul li a {
    color: #e692ae; /* Light pink color for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#contact ul li a:hover {
    color: #a23c5e; /* Dark pink on hover */
}


.profile {
    width: 425px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 70px;
}

footer {
    background-color: #ffffff; /* Dark pink background */
    color: #a23c5e; /* White color */
    text-align: center;
    padding: 1em 0; /* Add white space between contact section and footer */
}

form {
    display: inline-block;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
}

