<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoya's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#contact">Contact</a></li>
                {% if username %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section id="introduction-section">
        <h2>Introduction</h2>
        <div class="profile">
            <p>Hi, I'm Zoya! I'm a Tech student at BCIT with a passion for web development. I enjoy building web applications and exploring new technologies. Feel free to take a look at my projects and resume, and don't hesitate to reach out if you'd like to connect!</p>
        </div>
        <div id="introduction" class="terminal">
            <div class="terminal-header">
                <span class="terminal-circle red"></span>
                <span class="terminal-circle yellow"></span>
                <span class="terminal-circle green"></span>
            </div>
            <div class="terminal-content" id="terminal-content">
                <!-- Terminal content will be dynamically added here -->
            </div>
        </div>
    </section>

    <section id="projects">
        <h2>My Projects</h2>
        <div class="projects-grid">
            <div class="project-card">
                <img src="{{ url_for('static', filename='Assets/Sub.png') }}" alt="Project 1">
                <div class="project-info">
                    <h3>Subtracker</h3>
                    <p>The app enables users to register and track their monthly subscriptions and bills, offering a comprehensive view of their total expenses for the month. By analyzing spending patterns, it provides valuable insights into financial habits, helping users decide whether to adjust or cancel certain subscriptions to better manage their budget.</p>
                    <div class="tech-tags">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Python</span>
                        <span>Flask</span>
                    </div>
                    <a href="https://github.com/snayul/2911" class="project-link">View on GitHub</a>
                </div>
            </div>
            
            <div class="project-card">
                <img src="{{ url_for('static', filename='Assets/Bookstore.png') }}" alt="Project 1">
                <div class="project-info">
                    <h3>Book Store Web App</h3>
                    <p>This project is a Flask-based web application that integrates Flask-SQLAlchemy to manage a library system with books, users, categories, and rentals. Instead of relying on text files like JSON or CSV, it uses a relational database to store and manage data efficiently.</p>
                    <div class="tech-tags">
                        <span>Python</span>
                        <span>Flask</span>
                    </div>
                    <a href="https://github.com/zoyamber/BookstoreWeb.git" class="project-link">View on GitHub</a>
                </div>
            </div>

            <div class="project-card">
                <img src="{{ url_for('static', filename='Assets/Linux.png') }}" alt="Project 1">
                <div class="project-info">
                    <h3>Automating System Information with Bash and Nginx</h3>
                    <p>The purpose of this Project is to write a Bash script that will generate an index.html file and configure it to run daily at 5:00 using a systemd system and timer. The HTML document generated by this script will be Hosted on a Nginx web server running on your Arch Linux droplet, with a ufw firewall configured to enhance server security</p>
                    <div class="tech-tags">
                        <span>Nginx</span>
                        <span>Bash Scripting</span>
                    </div>
                    <a href="https://github.com/zoyamber/Assignment3-updated.git" class="project-link">View on GitHub</a>
                </div>
            </div>
        </div>
    </section>

    <section id="resume">
        <h2>Resume</h2>
        <p>You can view my resume <a href="{{ url_for('static', filename='Assets/ZoyaResume.pdf') }}" target="_blank">here</a>.</p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>If you would like to get in touch, feel free to reach out via email or GitHub:</p>
        <ul>
            <li>Email: <a href="mailto:zoyamber@gmail.com">zoyamber@gmail.com</a></li>
            <li>GitHub: <a href="https://github.com/zoyamber" target="_blank">github.com/zoyamber</a></li>
        </ul>
    </section>

    <footer>
        <p>© 2025 Zoya Wajzer</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts/typingEffect.js') }}"></script>

</body>
</html>